# Compiled binaries and ISOs
*.cdi
*.iso
*.elf
*.bin
*.wasm
*.js

# Build directories
/build/
/.emscripten_cache/

# OS-specific clutter
.DS_Store
Thumbs.db

# IDE and Editor configurations
.vscode/
.idea/
*.swp
